HTML, {
    height: 100%;
}

BODY, HTML {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
    min-width: 375px;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 8px;
    background-color: #e0e3ec;
}

body.body_overflow {
    overflow: hidden;
}

main {
    display: flex;
    flex: 1 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

main::before {
    content: "";
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: rgb(224,227,236);
    background: linear-gradient(0deg, #e0e3ec 0%, white 100%);
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
}

button {
    outline: none;
    border: none;
}

input {
    color: var(--input-text);
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    background-color: var(--input-bg);
    border-radius: 4px;
    padding: 0 15px 0 8px;
    border: 1px solid var(--input-border);
    transition: 0.3s;
}

input.dark {
    background-color: var(--input-bg-dark);
    border-color: var(--input-border-dark);
    color: var(--input-text-dark);
}

input[type=text].error, input[type=date].error, input[type=email].error, input[type=password].error, input[type=tel].error, input[type=number].error, textarea.error {
    box-shadow: 0px 0px 7px 0px var(--danger);
    border-color: var(--danger);
    color: var(--danger);
}

input[type=text]:focus, input[type=date]:focus, input[type=email]:focus, input[type=password]:focus , input[type=tel]:focus , input[type=number]:focus, textarea:focus  {
    border-color: var(--sub_main-color);
    outline: 0;
    outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input:focus {
    outline: none !important;
}

textarea  {
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #D6D6D6;
    resize: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    transition: 0.3s;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: none
}

article a {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s;
}

article a:hover {
    color: var(--link-color-active)
}

article li {
    position: relative;
    padding-left: 10px;
}

article li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}

a:active {
    color: inherit;  /* НЕ УДАЛЯТИ */
}

.main_title,
h1 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 40px;
    transition: 0.3s;
}

a.main_title:hover {
    opacity: 0.7;
}

.sub_title,
h2,
h3 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 24px;
    transition: 0.3s;
}

a.sub_title:hover {
    opacity: 0.7;
}

.centre {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1205px;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
}

.shadow {
    font-size: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(32, 30, 80, 0.4);
    z-index: 10;
    transition: 0.3s;
}

.shadow.hidden {
    display: block !important;
    opacity: 0;
    visibility: hidden;
}

.btn {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-bg);
    padding: 0 15px;
    border-radius: 15px;
    color: var(--btn-text);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

.btn .icon {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    fill: var(--btn-text);
    transition: 0.3s;
}

.btn.btn_contrast {
    color: var(--btn-text-contrast);
    background-color: var(--btn-bg-contrast);
}

.btn.btn_contrast:hover {
    background-color: var(--btn-bg-contrast-hover);
}

.btn.btn_not-radius {
    border-radius: 6px;
    padding: 0 10px;
}

.hidden {
    display: none !important;
}
