/* variables */
:root {
	--primary: #181e36;
	--sub-primary: #1f2c4f;
	--light-primary: #5a5df6;
	--secondary: #fff;
	--success: rgba(var(--success-color), var(--success-opacity));
	--success-color: 81, 176, 39;
	--success-opacity: 1;
	--info: rgba(var(--info-color), var(--info-opacity));
	--info-color: 65, 143, 216;
	--info-opacity: 1;
	--warning: rgba(var(--warning-color), var(--warning-opacity));
	--warning-color: 248, 170, 6;
	--warning-opacity: 1;
	--danger: rgba(var(--danger-color), var(--danger-opacity));
	--danger-color: 252, 36, 3;
	--danger-opacity: 1;
	--site-bg: #181e36;
	--site-bg-contrast: #ffffff;
	--btn-bg: #5a5df6;
	--btn-bg-hover: #1f2c4f;
	--btn-bg-contrast: #f8aa06;
	--btn-bg-contrast-hover: #f85b06;
	--btn-text: #FFFFFF;
	--btn-text-contrast: #FFFFFF;
	--input-text: #181e36;
	--input-bg: #ffffff;
	--input-border: #D6D6D6;
	--input-text-dark: #ffffff;
	--input-bg-dark: #4c5672;
	--input-border-dark: #4c5672;
	--text-color: #181e36;
	--text-light: #7a8891;
	--text-contrast: #ffffff;
	--border-color: #d2d2d2;
	--icon-color: #181e36;
	--icon-color-contrast: #181e36;
	--elem-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
}
