/* variables */
:root {
	--primary: #181e36;
	--sub-primary: #1f2c4f;
	--light-primary: #5a5df6;
	--secondary: #fff;
	--success: #51a727;
	--info: #66c0da;
	--warning: #f8aa06;
	--danger: #fc2403;
	--site-bg: #181e36;
	--site-bg-contrast: #ffffff;
	--btn-bg: #5a5df6;
	--btn-bg-contrast: #f8aa06;
	--btn-text: #FFFFFF;
	--btn-text-contrast: #FFFFFF;
	--text-color: #181e36;
	--text-light: #5F5F5F;
	--text-contrast: #ffffff;
	--border-color: #d2d2d2;
	--icon-color: #181e36;
	--icon-color-contrast: #181e36;
}
