/*LOGIN PAGE*/
.login_page {
    color: var(--text-contrast);
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--site-bg);
    display: flex;
    flex-direction: column;
}

.login_page .centre {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
}

.login_page .main_title {
    display: inline-block;
    color: var(--text-contrast);
    margin-left: auto;
    margin-right: auto;
}

.submit_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit_box .btn {
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
}

.remember_pass {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    opacity: 0.6;
    transition: 0.3s;
    border-bottom: 1px solid currentColor;
}

.remember_pass:hover {
    font-size: 14px;
    opacity: 1;
}