/*MAIN PAGE*/

.task_list {
    margin-bottom: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--site-bg-contrast);
}

.task_list li {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e3ec;
    position: relative;
}

.task_list li + li {
    margin-top: 5px;
}

.task_list li.status_danger {
    background-color: #f85b06;
    color: var(--text-contrast);
}

.task_list li.status_warning {
    background-color: #f8aa06;
    color: var(--text-contrast);
}

.task_list li.status_success {
    background-color: #51a727;
    color: var(--text-contrast);
}

.task_list .col-1 {
    flex: 0 1 50px;
}

.task_item-logo {
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.task_list .col-2 {
    flex: 0 1 calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 18px;
}

.task_item-title {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 8px;
}

.task_item-title:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.task_item-mentor {
    font-size: 12px;
    margin-bottom: 16px;
}

.dead_line {
    text-align: center;
    color: var(--text-contrast);
    display: flex;
    align-items: center;
    min-height: 26px;
    border-radius: 12px;
    padding: 5px 13px;
    background-color: var(--danger);
}

.task_list li:not(.status_danger):not(.status_warning):not(.status_success) .dead_line {
    opacity: 0.7;
}

.task_list li.status_danger .dead_line {
    filter: saturate(0.7);
}

.task_list .col-3 {
    flex: 0 1 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.tasks-counter {
    white-space: nowrap;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 30px;
    padding: 0 15px;
    z-index: 1;
}

.tasks-counter::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
}

.tasks-counter .icon {
    margin-left: 8px;
}

.task_list li.status_danger .tasks-counter .icon ,
.task_list li.status_warning .tasks-counter .icon ,
.task_list li.status_success  .tasks-counter .icon {
    fill: var(--text-contrast);
}


.main_task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.task_list li.status_danger .main_task .icon,
.task_list li.status_warning .main_task .icon,
.task_list li.status_success  .main_task .icon {
    fill: var(--text-contrast);
}

.add_task {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 28px;
    height: 28px;
    border: 2px solid #6c758e;
    border-radius: 5px;
    z-index: 2;
    transition: 0.3s;
}

.add_task:hover {
    background-color: var(--text-color);
}

.task_list li.status_danger .add_task,
.task_list li.status_warning .add_task,
.task_list li.status_success .add_task {
    border-color: var(--text-contrast);
}

.task_list li.status_danger .add_task:hover,
.task_list li.status_warning .add_task:hover,
.task_list li.status_success .add_task:hover {
    background-color: var(--text-contrast);
}

.add_task .icon {
    width: 16px;
    height: 16px;
    transition: 0.3s;
    fill: #6c758e;
}

.add_task:hover .icon {
    fill: #e0e3ec;
}

.task_list li.status_danger .add_task .icon,
.task_list li.status_warning .add_task .icon,
.task_list li.status_success .add_task .icon {
    fill: var(--text-contrast);
}

.task_list li.status_danger .add_task:hover .icon {
    fill: #f85b06;
}

.task_list li.status_warning .add_task:hover .icon {
    fill: #f85b06;
}

.task_list li.status_success .add_task:hover .icon {
    fill: #51a727;
}

.chart_box {
    margin-bottom: 16px;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--light-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#spark4 {
    width: 100%;
    margin-bottom: 12px;
}

.row_chart {
    display: flex;
    flex-direction: column;
}

.row_chart .col-1,
.row_chart .col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
}

.row_chart .col-2 .my_money {
    background-color: rgba(225, 225, 225, 0.4);
    padding: 5px 15px;
    border-radius: 10px;
}

.chart_box-title {
    color: var(--text-contrast);
    font-size: 16px;
    margin-bottom: 8px;
}

.my_money {
    font-weight: 400;
    color: var(--text-contrast);
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.my_money span {
    opacity: 0.5;
}

.my_money-add {
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 5px 26px;
    font-size: 14px;
    color: var(--text-contrast);
    background-color: #374092;
    border-radius: 15px;
}

.task_counter {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.task_counter li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e3ec;
}

.task_counter li + li {
    margin-top: 5px;
}

.task_size {
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    padding: 0 10px;
    min-width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.task_size.status_danger {
    background-color: var(--danger);
}

.task_size.status_warning {
    background-color: var(--warning);
}

.task_size.status_success {
    background-color: var(--light-primary);
}

.task_description {
    display: flex;
    flex-direction: column;
}

.task_description span {
    font-size: 16px;
}

.task_description small {
    font-size: 12px;
    color: var(--text-light)
}

.birthday {
    color: var(--text-contrast);
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary);
}

.birthday.status_wrong {
    background-color: #f85b06;
}

.birthday img {
    display: block;
    width: 80px;
    height: 80px;
}

.birthday figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
}

.birthday figcaption span {
    font-size: 16px;
    margin-bottom: 6px;
}
.birthday figcaption b {
    font-size: 22px;
    margin-bottom: 22px;
    font-weight: 400;
}
