/*POPUPS*/
.popup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    padding: 125px 0 75px 0;
    overflow-y: auto;
    background: rgba(32, 30, 80, 0.4);
    z-index: 12;
    transition: 0.3s;
}

.popup_box.active {
    opacity: 1;
    visibility: visible;
}

.popup {
    color: var(--text-contrast);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 20px);
    max-width: 740px;
    background-color: var(--primary);
    border-radius: 8px;
    transition: 0.3s;
    position: absolute;
    top: 100px;
    left: -100%;
    transform: translateX(-50%);
    z-index: 12;
}

.popup:hover {
    box-shadow: var(--elem-shadow);
}

.popup.active {
    left: 50%;
}

.popup_header {
    display: flex;
    align-items: center;
    padding: 5px 35px 5px 5px;
    min-height: 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.popup_header:before {
    content: "";
    width: calc(100% - 75px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sub-primary);
    z-index: -1;
    border-radius: 0 0 50px 0;
}

.popup_title {
    display: flex;
    align-items: center;
}

.popup_title .icon_box {
    width: 26px;
    height: 26px;
    display: flex;
    margin-right: 14px;
}

.popup.create_popup .popup_title .icon_box {
    padding: 5px;
}

.popup_title .icon {
    width: 100%;
    height: 100%;
    fill: var(--text-contrast);
}

.close_popup {
    width: 30px;
    height: 30px;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: 0.3s;
}

.close_popup:hover {
    opacity: 0.7;
}

.close_popup .icon {
    width: 100%;
    height: 100%;
    fill: var(--danger);
}

.submit_popup .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.popup_header .submit_popup {
    display: none;
    font-size: 16px;
}

.popup_body {
    padding: 15px 10px 10px 10px;
}

.popup.create_popup {
    max-width: 1155px;
}

.create_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.name_task {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.name_task span {
    margin-bottom: 10px;
}

.select_type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    border-bottom: 1px solid transparent;
}

.select_type.error {
    border-color: var(--danger);
}

.select_type > span {
    flex: 0 1 100%;
    margin-bottom: 10px;
}

.select_type label {
    flex: 0 1 50%;
    position: relative;
}

.select_type label input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.task_box {
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: 0.3s;
    padding: 6px;
    min-height: 40px;
    cursor: pointer;
}

.task_box .icon {
    flex: 0 0 28px;
    width: 28px;
    height: 28px;
    fill: var(--text-contrast);
    margin-right: 12px;
    transition: 0.3s;
}

.select_type label input[type=radio]:checked + .task_box {
    opacity: 1;
}

.select_type label input[type=radio]:checked + .task_box .icon {
    fill: #f85b06
}

.popup_tasks {
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--site-bg-contrast);
}

.popup_tasks-header {
    color: var(--text-contrast);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: var(--light-primary);
}

.popup_creator {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 12px;
}

.popup_creator img {
    width: 46px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
}

.tasks_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks_status .btn {
    opacity: 0.5;
}

.tasks_counter {
    display: flex;
    align-items: center;
}

.tasks_counter > span {
    margin-right: 10px;
}

.tasks_box {
    display: flex;
    align-items: center;
    padding: 0 6px 0 12px;
    height: 30px;
    border-radius: 15px;
    background-color: #8c8ef9;
}

.tasks_box .icon {
    margin-left: 6px;
    fill: currentColor;
}

.tasks_status .btn.active {
    font-size: 16px;
    opacity: 1;
}

.popup_tasks-list {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.popup_tasks-list > li {
    display: flex;
    align-items: flex-start;
    padding: 10px 40px 10px 10px;
    background-color: #e0e3ec;
    position: relative;
    transition: 0.3s;
}

.popup_tasks-list > li:hover {
    background-color: var(--site-bg-contrast);
}

.popup_tasks-list .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
}

.order_number {
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.7;
}

.move_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.move_btn .icon {
    width: 24px;
    height: 24px;
    fill: #646d87;
    opacity: 0.7;
}

.popup_tasks-list .col-2 {
    margin-right: 12px;
}

.popup_tasks-status {
    position: relative;
}

.popup_tasks-status input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.popup_tasks-status input[type=checkbox] + i {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.popup_tasks-status input[type=checkbox] + i::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f85b06;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    border-radius: 2px;
}


.popup_tasks-status input[type=checkbox]:checked + i::before {
    opacity: 1;
}

.del_task {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.popup_tasks-list > li:hover .del_task,
.popup_tasks-list .col-3.active + .del_task {
    opacity: 1;
    visibility: visible;
}

.del_task .icon {
    width: 100%;
    height: 100%;
    fill: var(--danger);
    transition: 0.3s;
    filter: grayscale(1);
}

.del_task:hover .icon {
    filter: grayscale(0);
}

.popup_tasks-list .col-3 {
    flex: 1 1 auto;
}

.comment-area-responsive {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    transition-property: height, background-color;
    border: 1px solid transparent;
    transition-duration: 0s, 0.3s;
}

.comment-area-responsive:focus {
    background-color: #fff;
}

.popup_tasks-list > li.completed .comment-area-responsive {
    text-decoration: line-through;
    opacity: 0.5;
}

.comment-area-responsive a {
    color: var(--light-primary);
}

.popup_tasks-control {
    min-width: 1px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
}

.task_responsible {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.task_performers-title {
    margin-bottom: 10px;
}

.task_performers-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    background-color: #464b5e;
    margin-bottom: 15px;
}

.task_performers-list li {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px 5px 0;
    background-color: var(--light-primary);
}

.task_performers-list li img {
    margin-right: 12px;
    flex: 0 0 46px;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    border: 2px solid #fff;
    object-fit: cover;
}

.task_customer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.task_responsible .dropdown,
.task_customer .dropdown {
    margin-bottom: 12px;
    max-width: 275px;
    width: 100%;
    height: 56px;
}

.task_responsible .dropdown .overflow,
.task_customer .dropdown .overflow {
    padding-right: 50px;
}

.task_responsible .dropdown .drop_arrow,
.task_customer .dropdown .drop_arrow {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.task_responsible .dropdown img,
.task_customer .dropdown img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 6px;
}

.task_responsible .dropdown UL,
.task_customer .dropdown UL {
    top: 54px;
}

.task_responsible .dropdown UL LI A,
.task_customer .dropdown UL LI A {
    display: flex;
    align-items: center;
}

.delete_performer {
    margin-left: 8px;
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.delete_performer .icon {
    width: 12px;
    height: 12px;
    fill: var(--text-color);
    transition: 0.3s;
}

.delete_performer:hover .icon {
    fill: var(--danger);
}

.popup_tasks-developers {
    display: none;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.popup_tasks-list .col-3.active .popup_tasks-developers {
    display: flex;
}

.popup_tasks-developers > li {
    margin: 0 6px 6px 0;
}

.popup_tasks-developers .btn:not(.active) {
    opacity: 0.5;
}

.tasks_time-edit {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.popup_tasks-list .col-3.active .tasks_time-edit {
    display: flex;
}

.tasks_time-edit input {
    color: var(--light-primary);
    margin: 0 12px 0 0;
    height: 20px;
    width: 50px;
    padding: 0;
    text-align: center;
}

.tasks_time-edit input:focus {
    border-color: var(--text-color)
}

.tasks_time-edit span {
    font-weight: 700;
}

.tasks_time-edit span:nth-child(1) {
    flex: 0 0 100%
}

.tasks_time-edit span:nth-child(3) {
    flex: 0 0 calc(100% - 64px)
}

.tasks_time-edit span:nth-child(5) {
    flex: 0 0 calc(100% - 64px)
}

.tasks_time {
    font-weight: 700;
    margin-left: auto;
}

.add_check-item {
    display: flex;
    flex-direction: column;
}

.add_check-item + .add_check-item {
    margin-top: 12px;
}

.add_check-item span {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 6px;
}

.add_check-item input {
    min-width: 0;
}

.responsible {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.responsible_users {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.responsible_users > b {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
}

.important_task {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: 0.3s;
    width: max-content;
    margin-bottom: 12px;
}

.important_task.active {
    color: #f85b06;
}

.important_task .icon {
    margin-right: 8px;
    width: 26px;
    height: 26px;
    fill: #ffffff;
}

.important_task.active .icon {
    fill: #f85b06;
}

.task_performers {
    display: flex;
    flex-direction: column;
}

.task_performers .btn {
    align-self: start;
}

.popup-bottom_info {
    display: flex;
    flex-direction: column;
}

.popup-bottom_inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.popup-bottom_inner span {
    margin-bottom: 10px;
}

.popup-bottom_inner > b {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-height: 40px;
    background-color: var(--sub-primary);
    border-radius: 8px;
}

.popup-bottom_inner > input {
    color: var(--light-primary);
    font-size: 18px;
    padding: 0 16px;
    width: 165px;
    min-height: 40px;
    background-color: var(--sub-primary);
    border-color: var(--sub-primary);
    border-radius: 8px;
}

.popup-bottom_inner:not(.popup-dead_line) > b {
    color: var(--light-primary)
}

.popup-bottom_inner > input:focus {
    border-color: var(--secondary);
}

.popup-bottom_inner.popup-dead_line > input,
.popup-bottom_inner.popup-dead_line > b {
    color: var(--secondary);
    background-color: #a30c16;
}

.register_grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 26px;
}

.register_item {
    display: flex;
    flex-direction: column;
}

.register_item > span {
    display: inline-block;
    margin-bottom: 8px;
    opacity: 0.6;
}

.register_grid + .btn {
    margin-top: 20px;
}