/*POPUPS*/
.popup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 125px 0 75px 0;
    overflow-y: auto;
    z-index: 12;
}

.popup_box.active {
    display: block;
}

.popup {
    color: var(--text-contrast);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 20px);
    max-width: 740px;
    background-color: var(--primary);
    border-radius: 5px;
    overflow: hidden;
}

.popup_header {
    display: flex;
    align-items: center;
    padding: 5px 35px 5px 5px;
    min-height: 40px;
    position: relative;
    z-index: 1;
}

.popup_header:before {
    content: "";
    width: calc(100% - 75px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sub-primary);
    z-index: -1;
    border-radius: 0 0 50px 0;
}

.popup_title {
    display: flex;
    align-items: center;
}

.popup_title .icon_box {
    width: 26px;
    height: 26px;
    border: 2px solid var(--text-contrast);
    border-radius: 5px;
    display: flex;
    margin-right: 14px;
    padding: 5px;
}

.popup_title .icon {
    width: 100%;
    height: 100%;
    fill: var(--text-contrast);
}

.close_popup {
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: 0.3s;
}

.close_popup:hover {
    opacity: 0.7;
}

.close_popup .icon {
    width: 100%;
    height: 100%;
    fill: var(--danger);
}

.submit_popup .icon {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.popup_header .submit_popup {
    display: none;
}

.popup_body {
    padding: 15px 10px 10px 10px;
}

.popup.create_popup {
    max-width: 1155px;
}

.create_title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.name_task {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.name_task span {
    margin-bottom: 10px;
}

.select_type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    border-bottom: 1px solid transparent;
}

.select_type.error {
    border-color: var(--danger);
}

.select_type > span {
    flex: 0 1 100%;
    margin-bottom: 10px;
}

.select_type label {
    flex: 0 1 50%;
    position: relative;
}

.select_type label input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.task_box {
    display: flex;
    align-items: center;
    opacity: 0.7;
    transition: 0.3s;
    padding: 6px;
    min-height: 40px;
}

.task_box .icon {
    flex: 0 0 28px;
    width: 28px;
    height: 28px;
    fill: var(--text-contrast);
    margin-right: 12px;
    transition: 0.3s;
}

.select_type label input[type=radio]:checked + .task_box {
    opacity: 1;
}

.select_type label input[type=radio]:checked + .task_box .icon {
    fill: var(--warning)
}

.popup_tasks {
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--site-bg-contrast);
}

.popup_tasks-header {
    color: var(--text-contrast);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: var(--light-primary);
}

.popup_creator {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 12px;
}

.popup_creator img {
    width: 46px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.tasks_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks_status .btn {
    opacity: 0.5;
}

.tasks_counter {
    display: flex;
    align-items: center;
}

.tasks_counter > span {
    margin-right: 10px;
}

.tasks_box {
    display: flex;
    align-items: center;
    padding: 0 6px 0 12px;
    height: 30px;
    border-radius: 15px;
    background-color: #8c8ef9;
}

.tasks_box .icon {
    margin-left: 6px;
    fill: currentColor;
}

.tasks_status .btn.active {
    opacity: 1;
}

.popup_tasks-list {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.popup_tasks-list li {
    display: flex;
    padding: 10px 40px 10px 10px;
    background-color: #e0e3ec;
    position: relative;
}

.popup_tasks-list .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 12px;
}

.order_number {
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
}

.move_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.move_btn .icon {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.popup_tasks-list .col-2 {
    margin-right: 12px;
}

.popup_tasks-status {
    position: relative;
}

.popup_tasks-status input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.popup_tasks-status input[type=checkbox] + i {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: #fff;
    border-radius: 4px;
}

.popup_tasks-status input[type=checkbox] + i::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--warning);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    border-radius: 2px;
}


.popup_tasks-status input[type=checkbox]:checked + i::before {
    opacity: 1;
}

.del_task {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.del_task .icon {
    width: 100%;
    height: 100%;
    fill: var(--danger);
    transition: 0.3s;
    filter: grayscale(1);
}

.del_task:hover .icon {
    filter: grayscale(0);
}