/*SITE PANEL*/
.site_panel {
    color: var(--text-contrast);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    flex: 0 0 75px;
    padding: 8px;
    margin-left: -85px;
    margin-right: 10px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

.site_panel.active {
    margin-left: 0;
}

.user_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_box figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_photo {
    display: block;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user_box figcaption {
    display: none;
    text-align: center;
    font-size: 12px;
    margin-bottom: 6px;
    line-height: 1.2;
}

.site_nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    position: relative;
    z-index: 1;

}

.site_nav::before {
    content: "";
    width: calc(100% + 10px);
    position: absolute;
    top: -75px;
    left: -5px;
    z-index: -1;
    height: calc(100% + 75px);
    border-radius: 0 75px 0 0;
    background-color: var(--sub-primary);
}

.confident {
    opacity: 0.4;
    text-align: center;
    font-size: 10px;
    margin-top: auto;
}

.site_nav ul {
    padding-bottom: 40px;
}

.site_nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site_nav li + li {
    margin-top: 15px;
}

.site_nav li a {
    font-size: 0;
    display: block;
    width: 100%;
    opacity: 0.4;
}

.site_nav li a .icon {
    width: 26px;
    height: 26px;
    fill: var(--text-contrast);
    transition: 0.3s;
}

.site_nav li a:hover,
.site_nav li a.active {
    opacity: 1;
}

.open-site_panel {
    width: 30px;
    height: 30px;
    padding: 0;
}

.open-site_panel .icon {
    margin: 0;
}

.content_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.content_header-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}

.notification {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    z-index: 12;
}

.notification .btn {
    margin-right: 12px;
}

.notification_info {
    margin-right: 12px;
}

.notification_info.status_success {
    color: var(--success)
}

.notification_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    transition: 0.3s;
    filter: grayscale(1);
    opacity: 0.75;
}

.notification_btn.active {
    opacity: 1;
    filter: grayscale(0);
}

.notification_btn .icon {
    fill: var(--danger);
    transition: transform 0.75s;
    transform: rotate(0deg);
    transform-origin: top;
}

.notification_btn.active .icon {
    animation-name: ring;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}


@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    3% {
        transform: rotate(-15deg);
    }

    6% {
        transform: rotate(0deg);
    }

    9% {
        transform: rotate(15deg);
    }

    12% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-15deg);
    }

    18% {
        transform: rotate(0deg);
    }

    21% {
        transform: rotate(15deg);
    }

    24% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.notification_btn.active::before,
.notification_btn.active::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation-name: flicker;
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.notification_btn.active::before {
    top: 4px;
    left: 12px;
    transform: rotate(-33deg);
    border-right: 1px solid var(--danger);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.notification_btn.active::after {
    top: 4px;
    left: 6px;
    transform: rotate(33deg);
    border-left: 1px solid var(--danger);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

@keyframes flicker {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100%  {
        opacity: 1;
    }

}

.notification_counter {
    color: var(--text-contrast);
    font-size: 12px;
    position: absolute;
    bottom: -2px;
    left: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 18px;
    background-color: var(--danger);
    border-radius: 9px;
}

.notification_list {
    position: absolute;
    top: 100%;
    right: 100%;
    padding: 5px;
    width: 300px;
    max-height: 360px;
    overflow-y: auto;
    background-color: #e0e3ec;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.notification_list.active {
    visibility: visible;
    opacity: 1;
}

.notification_list li {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background-color: var(--site-bg-contrast);
    position: relative;
    overflow: hidden;
}

.notification_list li::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.notification_list li.status_danger::before {
    background-color: var(--danger);
}

.notification_list li.status_warning::before {
    background-color: var(--warning);
}

.notification_list li.status_success::before {
    background-color: var(--success);
}

.notification_list li.status_pending::before {
    background-color: var(--success);
}

.notification_list li + li {
    margin-top: 5px;
}

.notification_item {
    text-decoration: none;
}

.notification_task-info {
    display: flex;
    margin-bottom: 12px;
}

.notification_task-logo {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.notification_task-info .col-2 {
    padding-left: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.notification_task-title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 6px;
    font-weight: 700;
}

.notification_task-mentor {
    font-size: 12px;
}

.notification_task-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification_task-status b {
    font-size: 12px;
}

.notification_list li.status_danger .notification_task-status b {
    color: var(--danger);
}

.notification_list li.status_warning .notification_task-status b {
    color: var(--warning);
}

.notification_list li.status_success .notification_task-status b{
    color: var(--success);
}

.notification_list li.status_pending .notification_task-status b {
    color: var(--success);
}

.status-in_time {
    color: var(--success);
}

.status_wrong_time {
    color: var(--danger);
}

.notification_task-status span {
    font-size: 12px;
    text-align: end;
}

.btn_time {
    margin-bottom: 8px;
}

.header_date {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.header_date b {
    font-weight: 400;
    color: var(--light-primary)
}

.add_task-btn .icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}
