/*TASK PAGE*/
.task_page-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 8px;
    background-color: var(--site-bg-contrast);
}

.task_page-list > li {
    padding: 10px 5px;
    border-radius: 8px;
    background-color: #e0e3ec;
    transition: 0.3s;
}

.task_page-list > li:hover {
    box-shadow: var(--elem-shadow);
}

.task_page-list > li + li {
    margin-top: 8px;
}

.task_page-list > li.status_danger {
    color: var(--text-contrast);
    background-color: #f85b06;
}

.task_page-list > li.status_warning {
    color: var(--text-contrast);
    background-color: #f8aa06;
}

.task_page-list > li.status_success {
    color: var(--text-contrast);
    background-color: #51a727;
}

.status_main {
    position: relative;
    transition: 0.3s;
    padding: 8px;
    border-radius: 8px;
}

.status_main:hover {
    background-color: rgba(0,0,0,0.1);
}

.status_main > .col-1 {
    display: flex;
}

.task_info {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
}

.status_main > .col-2 {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 8px;
    padding-left: 68px;
}

.task_page .task_item-title:before {
    display: none;
}

.status_main > .col-2 .add_task {
    margin: 0 22px 0 0;
    z-index: 3;
    display: none;
}

.task_page-list > li.status_danger .add_task,
.task_page-list > li.status_warning .add_task,
.task_page-list > li.status_success .add_task {
    border-color: var(--text-contrast);
}

.task_page-list > li.status_danger .icon,
.task_page-list > li.status_warning .icon,
.task_page-list > li.status_success .icon {
    fill: var(--text-contrast);
}

.status_main > .col-3 {
    display: flex;
    align-items: center;
    padding-left: 68px;
}

.status_main > .col-3 .dead_line {
    margin-right: auto;
}

.tasks-counter {
    margin-left: 8px;
}

.sub_tasks {
    padding-left: 68px;
    padding-top: 16px;
}

.sub_tasks li {
     position: relative;
    transition: 0.3s;
    padding: 8px;
    border-radius: 5px;
}

.sub_tasks li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub_tasks li + li {
    margin-top: 12px;
}

.sub_tasks li:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--text-color);
    border-left: 2px solid var(--text-color);
}

.task_page-list > li.status_danger .sub_tasks li::after ,
.task_page-list > li.status_warning .sub_tasks li::after ,
.task_page-list > li.status_success .sub_tasks li::after{
    border-color: var(--text-contrast);
}

.task_page-list .task_item-title::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.sub_tasks li.finished {
    filter: grayscale(1) opacity(0.5);
}

.sub_tasks li.finished .tasks-counter {
    opacity: 0.8;
}

.task_page-list > li.status_danger .tasks-counter,
.task_page-list > li.status_warning .tasks-counter,
.task_page-list > li.status_success .tasks-counter {
    opacity: 1;
}

.sub_tasks .col-1 {
    display: flex;
    flex-direction: column;
}

.sub_tasks .col-2 {
    margin-bottom: 8px;
}

.sub_tasks .col-3 {
    display: flex;
    align-items: center;
}

.sub_tasks .col-3 .dead_line {
    margin-right: auto;
}