/*USER EDIT*/

.user_list {
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e3ec;
}

.user_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.user_header img {
    display: block;
    margin-bottom: 8px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #fff;
    object-fit: cover;
}

.user_header .user_header-title {
    font-size: 18px;
}

.user_header .btn {
    order: -1;
    margin-bottom: 12px;
    margin-left: auto;
}

.user_header .btn .icon {
    width: 16px;
    height: 16px;
}

.user_list-edit {
    color: var(--text-contrast);
    background-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
}

.user_edit-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 36px;
}

.user_edit-header .btn {
    order: -1;
    margin-bottom: 6px;
}

.user_edit-header .btn .icon {
    width: 16px;
    height: 16px;
}

.user_edit-box {
    display: flex;
    align-items: center;
    width: 100%;
}

.user_edit-box img {
    margin-right: 12px;
    width: 46px;
    height: 46px;
    border: 2px solid #fff;
    border-radius: 5px;
    object-fit: cover;
}

.user_edit-grid {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 26px;
}

.user_edit-item {
    display: flex;
    flex-direction: column;
}

.user_edit-item > span {
    margin-bottom: 8px;
    opacity: 0.6;
}

.user_edit-item > input {
    color: var(--text-contrast);
    background-color: var(--sub-primary);
    border-color: var(--sub-primary);
}

.photo_file-btn {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 4px;
    padding: 0 15px 0 8px;
    border: 1px solid var(--sub-primary);
    background-color: var(--sub-primary);
    transition: 0.3s;
    cursor: pointer;
}

.photo_file-btn:hover {
    border-color: #fff;
}

.file-box {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.reset-file {
    font-size: 0;
    flex: 0 0 20px;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    position: relative;
}

.reset-file::before,
.reset-file::after {
    content: "";
    width: 12px;
    height: 2px;
    background-color: var(--danger);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s;
}

.reset-file::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.reset-file::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.reset-file:hover::before,
.reset-file:hover::after {
    background-color: var(--text-contrast);
}