@media only screen and (min-width: 480px) {
  /*SITE PANEL*/
  /*MAIN PAGE*/
  .row_chart {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  /*TASK PAGE*/
  /*POPUPS*/
  .register_grid {
    grid-template-columns: 1fr 1fr;
  }

  /*LOGIN PAGE*/
  .login_page .register_grid {
    grid-template-columns: 1fr;
  }

  /*TIMELINE*/
  /*MONEY*/
  /*USER EDIT*/
}
@media only screen and (min-width: 640px) {
  /*SITE PANEL*/
  .site_panel {
    margin-left: 0;
  }

  .open-site_panel {
    display: none;
  }

  .content {
    flex: 1 1 auto;
  }

  .site_panel:not(.site_panel-main) + .content {
    max-width: calc(100% - 85px);
  }

  /*MAIN PAGE*/
  /*TASK PAGE*/
  /*POPUPS*/
  .popup {
    border-radius: 10px;
  }

  .popup_header {
    border-radius: 10px 10px 0 0;
    padding: 16px 160px 16px 14px;
    justify-content: space-between;
  }

  .popup_header::before {
    border-radius: 0 0 75px 0;
  }

  .popup_title {
    font-size: 16px;
  }

  .close_popup {
    top: 8px;
    right: 8px;
  }

  .popup_header .submit_popup {
    display: flex;
    margin-left: 12px;
  }

  .popup_body {
    padding: 42px 10px 32px 10px;
  }

  .popup_body .submit_popup {
    display: none;
  }

  .create_title {
    flex-direction: row;
  }

  .name_task {
    flex: 1 1 auto;
    margin-bottom: 0;
    padding-right: 40px;
  }

  .select_type {
    flex: 0 1 40%;
    max-width: 400px;
    margin-bottom: 0;
  }

  .tasks_time-edit span:nth-child(1),
.tasks_time-edit span:nth-child(3),
.tasks_time-edit span:nth-child(5) {
    flex: 0 1 auto;
  }

  .tasks_time-edit input {
    margin: 0 16px;
  }

  .responsible {
    flex-direction: row;
  }

  .responsible_users {
    width: 50% !important;
    max-width: 640px;
    margin-bottom: 0;
  }

  .popup-bottom_info {
    flex-direction: row;
    margin: 0;
  }

  .popup-bottom_inner {
    align-items: flex-start;
    margin: 0 22px 0 0;
  }

  .important_task {
    padding-top: 26px;
    margin-left: 30px;
  }

  /*LOGIN PAGE*/
  /*TIMELINE*/
  .timeline {
    flex: 1 1 auto;
    margin: 0 0 10px;
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
  }

  /*MONEY*/
  .money_header {
    flex-direction: row;
    justify-content: space-between;
  }

  .money_header .col-1 {
    margin-bottom: 0;
    width: 200px;
  }

  .money_header .col-2 {
    margin-bottom: 0;
    width: 200px;
  }

  /*USER EDIT*/
  .user_edit-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  /*SITE PANEL*/
  /*MAIN PAGE*/
  /*TASK PAGE*/
  /*POPUPS*/
  .popup_tasks-header {
    display: flex;
    align-items: center;
  }

  .popup_creator {
    font-size: 20px;
    margin: 0 0 0 auto;
    order: 1;
    flex-direction: row;
  }

  .popup_creator img {
    margin: 0 0 0 16px;
  }

  .tasks_counter {
    margin-right: 12px;
  }

  .tasks_counter > span {
    font-size: 16px;
    margin-right: 12px;
  }

  .popup_tasks-list .col-1 {
    flex-direction: row;
    align-items: center;
  }

  .order_number {
    padding: 0;
    margin-right: 12px;
  }

  .move_btn {
    padding: 0;
  }

  .popup_tasks-status {
    margin-top: 3px;
    display: block;
  }

  /*LOGIN PAGE*/
  /*TIMELINE*/
  /*MONEY*/
  /*USER EDIT*/
}
@media only screen and (min-width: 1024px) {
  body {
    padding: 10px;
  }

  main {
    padding: 10px;
    border-radius: 10px;
  }

  main::before {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
  }

  /*SITE PANEL*/
  .site_panel {
    flex: 0 0 92px;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .user_photo {
    width: 68px;
    height: 68px;
  }

  .site_nav::before {
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 85px);
  }

  .chart_box {
    border-radius: 10px;
  }

  .user_box figcaption {
    display: block;
    font-size: 14px;
  }

  .site_nav li + li {
    margin-top: 20px;
  }

  .site_panel.site_panel-main {
    flex: 0 0 300px;
    margin-right: 25px;
  }

  .site_panel.site_panel-main .user_photo {
    margin-bottom: 18px;
    width: 140px;
    height: 140px;
  }

  .site_panel.site_panel-main .user_box figcaption {
    font-size: 18px;
  }

  .site_panel.site_panel-main .user_box .btn {
    padding: 0 16px;
  }

  .site_panel.site_panel-main .site_nav li {
    justify-content: flex-start;
    padding-left: 28px;
  }

  .site_panel.site_panel-main .site_nav li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    transition: 0.3s;
  }

  .site_panel.site_panel-main .site_nav li a.active,
.site_panel.site_panel-main .site_nav li a:hover {
    color: var(--text-contrast);
  }

  .site_panel.site_panel-main .site_nav li a .icon {
    margin-right: 16px;
  }

  .site_nav li a .icon {
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }

  .notification_list {
    width: 360px;
    padding: 10px;
    border-radius: 10px;
  }

  .notification_list li {
    padding: 10px 10px 10px 20px;
  }

  .notification_list li + li {
    margin-top: 10px;
  }

  .notification_list li::before {
    width: 10px;
  }

  .notification_task-logo {
    font-size: 30px;
    width: 48px;
    height: 48px;
  }

  .notification_task-info .col-2 {
    margin-left: 16px;
  }

  .task_list {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0;
  }

  .task_list li {
    padding: 10px;
    border-radius: 10px;
    flex-wrap: nowrap;
  }

  .task_list li + li {
    margin-top: 10px;
  }

  .task_list .col-1 {
    flex: 0 1 auto;
  }

  .task_list .col-2 {
    flex: 1 1 auto;
  }

  .task_list .col-3 {
    flex: 0 1 auto;
    padding-top: 0;
    align-items: flex-start;
  }

  /*MAIN PAGE*/
  .main_page {
    display: flex;
  }

  .main_page > .col-1 {
    flex: 0 1 65%;
    margin-bottom: 10px;
  }

  .main_page > .col-2 {
    flex: 0 1 35%;
    padding-left: 16px;
    padding-right: 10px;
  }

  .task_counter {
    padding: 10px;
    border-radius: 10px;
  }

  .task_counter li {
    padding: 10px;
    border-radius: 10px;
  }

  .task_counter li + li {
    margin-top: 10px;
  }

  .birthday {
    padding: 10px;
    border-radius: 10px;
  }

  .site_panel:not(.site_panel-main) + .content {
    max-width: calc(100% - 102px);
  }

  /*TASK PAGE*/
  .task_page-list {
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .task_page-list > li {
    padding: 10px;
    border-radius: 10px;
  }

  .task_page-list > li + li {
    margin-top: 10px;
  }

  .status_main {
    display: flex;
    align-items: center;
  }

  .status_main > .col-1 {
    align-items: center;
    flex: 0 1 30%;
    padding-right: 15px;
  }

  .status_main > .col-1 .task_item-mentor {
    margin-bottom: 0;
  }

  .status_main > .col-2 {
    padding-left: 0;
    flex: 1 1 auto;
    margin: 0;
  }

  .status_main > .col-3 {
    padding-left: 0;
    padding-right: 138px;
    position: relative;
  }

  .status_main > .col-3 .main_task {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .sub_tasks li {
    display: flex;
    align-items: center;
  }

  .sub_tasks li > .col-1 {
    flex: 0 1 calc(30% - 50px);
    padding-right: 15px;
  }

  .sub_tasks li > .col-1 .task_item-mentor {
    margin-bottom: 0;
  }

  .sub_tasks .col-2 {
    flex: 1 1 auto;
    padding-left: 42px;
  }

  .sub_tasks .col-3 {
    position: relative;
    padding-right: 138px;
  }

  .sub_tasks .col-3 .tasks-counter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  /*POPUPS*/
  .popup-bottom_inner {
    padding: 0 44px 0 0;
  }

  /*LOGIN PAGE*/
  .login_page {
    padding: 10px;
    border-radius: 10px;
  }

  /*TIMELINE*/
  .timeline_tasks > li:hover .timeline_tasks-add {
    visibility: visible;
    opacity: 1;
  }

  /*MONEY*/
  /*USER EDIT*/
  .user_list {
    padding: 10px;
    border-radius: 10px;
  }

  .user_header {
    flex-direction: row;
    align-items: center;
  }

  .user_header img {
    margin: 0 12px 0 0;
  }

  .user_header .btn {
    order: 0;
    margin-bottom: 0;
  }

  .user_list-edit {
    padding: 10px;
    border-radius: 10px;
  }

  .user_edit-header {
    flex-direction: row;
    align-items: center;
  }

  .user_edit-header .btn {
    margin: 0 0 0 auto;
    order: 1;
  }

  .user_edit-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  /*SITE PANEL*/
  .site_panel.site_panel-main {
    margin-right: 45px;
  }

  .content {
    padding-top: 24px;
  }

  .header_date {
    font-size: 26px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .content_header {
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
  }

  .content_header-inner {
    order: 4;
    margin-bottom: 0;
    width: auto;
  }

  .content_header .btn {
    min-width: 210px;
  }

  .btn_time {
    margin: 0 22px 0 0;
  }

  .add_task-btn {
    margin: 0 22px 0 0;
  }

  .site_panel.site_panel-main .user_box figcaption {
    font-size: 26px;
    margin-bottom: 16px;
  }

  /*MAIN PAGE*/
  .main_page > .col-1 {
    flex: 0 1 58%;
  }

  .main_page > .col-2 {
    padding-left: 25px;
    flex: 0 1 42%;
  }

  .task_item-title {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .task_item-mentor {
    margin-bottom: 24px;
  }

  .chart_box {
    margin-bottom: 25px;
  }

  .task_size {
    font-size: 36px;
    min-width: 65px;
    height: 65px;
  }

  .task_description span {
    font-size: 24px;
  }

  /*TASK PAGE*/
  /*POPUPS*/
  .popup_tasks-list .col-3.active .popup_tasks-control {
    display: flex;
  }

  .popup_tasks-control {
    align-items: center;
  }

  .popup_tasks-developers {
    flex: 0 0 300px;
    margin: 0 0 -6px 0;
  }

  .tasks_time-edit {
    flex: 1 1 auto;
    margin-bottom: 0px;
  }

  .create_title {
    margin-bottom: 45px;
  }

  .name_task span {
    font-size: 18px;
  }

  .select_type > span {
    font-size: 18px;
  }

  .task_box {
    font-size: 16px;
  }

  .tasks_counter > span {
    font-size: 22px;
  }

  .tasks_box {
    font-size: 16px;
    padding: 0 12px 0 16px;
  }

  .popup_tasks {
    margin-bottom: 16px;
  }

  .responsible {
    padding: 0 20px;
  }

  .responsible_users > b {
    margin-bottom: 20px;
  }

  .important_task {
    padding-top: 41px;
    font-size: 18px;
  }

  .responsible_users > b {
    font-size: 18px;
  }

  .popup-bottom_info {
    font-size: 18px;
    padding: 0 20px;
  }

  .add_check-item span {
    font-size: 18px;
  }

  /*LOGIN PAGE*/
  /*TIMELINE*/
  /*MONEY*/
  .money_header {
    padding-left: 22px;
    padding-right: 22px;
  }

  .money_header .col-1,
.money_header .col-2 {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .money_header .col-1 > span,
.money_header .col-2 > span {
    font-size: 18px;
    margin: 0 12px 0 0;
  }

  .money_header .col-1 .dropdown {
    width: 225px;
  }

  .money_header .col-2 .dropdown {
    width: 100px;
  }

  /*USER EDIT*/
  .user_edit-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px 10px 10px;
  }
}