@charset "UTF-8";
/* variables */
:root {
  --primary: #181e36;
  --sub-primary: #1f2c4f;
  --light-primary: #5a5df6;
  --secondary: #fff;
  --success: #51a727;
  --info: #66c0da;
  --warning: #f8aa06;
  --danger: #fc2403;
  --site-bg: #181e36;
  --site-bg-contrast: #ffffff;
  --btn-bg: #5a5df6;
  --btn-bg-contrast: #f8aa06;
  --btn-text: #FFFFFF;
  --btn-text-contrast: #FFFFFF;
  --text-color: #181e36;
  --text-light: #5F5F5F;
  --text-contrast: #ffffff;
  --border-color: #d2d2d2;
  --icon-color: #181e36;
  --icon-color-contrast: #181e36;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

BODY, HTML {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  background-color: #e0e3ec;
}

main {
  display: flex;
  flex: 1 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

input {
  font-size: 14px;
  line-height: 17px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 15px 0 8px;
  border: 1px solid #D6D6D6;
  transition: 0.3s;
}

input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, textarea.error {
  border-color: #EE3C30;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus {
  border-color: var(--sub_main-color);
  outline: 0;
  outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input:focus {
  outline: none !important;
  border-color: #1F1F1F;
}

textarea {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #D6D6D6;
  resize: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

article a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  transition: 0.3s;
}

article a:hover {
  color: var(--link-color-active);
}

article li {
  position: relative;
  padding-left: 10px;
}

article li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}

a:active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

.main_title,
h1 {
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 40px;
  transition: 0.3s;
}

a.main_title:hover {
  opacity: 0.7;
}

.sub_title,
h2,
h3 {
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 24px;
  transition: 0.3s;
}

a.sub_title:hover {
  opacity: 0.7;
}

.centre {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1205px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.shadow {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(32, 30, 80, 0.4);
  z-index: 10;
}

.btn {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.2;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  padding: 0 15px;
  border-radius: 15px;
  color: var(--btn-text);
  transition: 0.3s;
}

.btn:hover {
  filter: saturate(1.5);
}

.btn .icon {
  width: 22px;
  height: 22px;
  margin: 0 10px 0 0;
  fill: var(--btn-text);
  transition: 0.3s;
}

.btn.btn_contrast {
  color: var(--btn-text-contrast);
  background-color: var(--btn-bg-contrast);
}

.btn.btn_not-radius {
  border-radius: 6px;
  padding: 0 10px;
}

.hidden {
  display: none !important;
}

/*SITE PANEL*/
.site_panel {
  color: var(--text-contrast);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  flex: 0 0 75px;
  padding: 5px;
  margin-left: -85px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}

.site_panel.active {
  margin-left: 0;
}

.user_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_box figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_photo {
  display: block;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user_box figcaption {
  display: none;
  text-align: center;
  font-size: 12px;
  margin-bottom: 6px;
  line-height: 1.2;
}

.site_nav {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  position: relative;
  z-index: 1;
}

.site_nav::before {
  content: "";
  width: calc(100% + 10px);
  position: absolute;
  top: -75px;
  left: -5px;
  z-index: -1;
  height: calc(100% + 75px);
  border-radius: 0 75px 0 0;
  background-color: var(--sub-primary);
}

.confident {
  color: var(--text-light);
  text-align: center;
  font-size: 10px;
  margin-top: auto;
}

.site_nav ul {
  padding-bottom: 40px;
}

.site_nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site_nav li + li {
  margin-top: 15px;
}

.site_nav li a {
  font-size: 0;
  display: block;
}

.site_nav li a .icon {
  width: 26px;
  height: 26px;
  fill: var(--text-light);
  transition: 0.3s;
}

.site_nav li a.active .icon {
  fill: var(--text-contrast);
}

.open-site_panel {
  width: 30px;
  height: 30px;
  padding: 0;
}

.open-site_panel .icon {
  margin: 0;
}

.content_header {
  display: flex;
  flex-direction: column;
}

.content_header-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.notification {
  position: relative;
  margin-left: auto;
  z-index: 12;
}

.notification_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
}

.notification_btn .icon {
  fill: var(--danger);
}

.notification_counter {
  color: var(--text-contrast);
  font-size: 12px;
  position: absolute;
  bottom: -2px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  background-color: var(--danger);
  border-radius: 9px;
}

.notification_list {
  position: absolute;
  top: 100%;
  right: 100%;
  padding: 5px;
  width: 300px;
  max-height: 360px;
  overflow-y: auto;
  background-color: #e0e3ec;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.notification_list.active {
  visibility: visible;
  opacity: 1;
}

.notification_list li {
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  background-color: var(--site-bg-contrast);
  position: relative;
  overflow: hidden;
}

.notification_list li::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.notification_list li.status_danger::before {
  background-color: var(--danger);
}

.notification_list li.status_warning::before {
  background-color: var(--warning);
}

.notification_list li.status_success::before {
  background-color: var(--success);
}

.notification_list li + li {
  margin-top: 5px;
}

.notification_task-info {
  display: flex;
  margin-bottom: 12px;
}

.notification_task-logo {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.notification_task-info .col-2 {
  padding-left: 8px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.notification_task-title {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 6px;
  font-weight: 700;
}

.notification_task-mentor {
  font-size: 12px;
}

.notification_task-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification_task-status b {
  font-size: 12px;
}

.notification_list li.status_danger .notification_task-status b {
  color: var(--danger);
}

.notification_list li.status_warning .notification_task-status b {
  color: var(--warning);
}

.notification_list li.status_success .notification_task-status b {
  color: var(--success);
}

.notification_task-status span {
  font-size: 12px;
  text-align: end;
}

.header_date {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.header_date b {
  font-weight: 400;
  color: var(--light-primary);
}

.task_list {
  margin-bottom: 16px;
  padding: 5px;
  bprder-radius: 5px;
}

.task_list li {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  background-color: #e0e3ec;
  position: relative;
}

.task_list li + li {
  margin-top: 5px;
}

.task_list li.status_danger {
  background-color: #f85b06;
  color: var(--text-contrast);
}

.task_list li.status_warning {
  background-color: #f8aa06;
  color: var(--text-contrast);
}

.task_list li.status_success {
  background-color: #51a727;
  color: var(--text-contrast);
}

.task_list .col-1 {
  flex: 0 1 50px;
}

.task_item-logo {
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.task_list .col-2 {
  flex: 0 1 calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 18px;
}

.task_item-title {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 8px;
}

.task_item-title:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.task_item-mentor {
  font-size: 12px;
  margin-bottom: 16px;
}

.dead_line {
  color: var(--text-contrast);
  display: flex;
  align-items: center;
  min-height: 26px;
  border-radius: 12px;
  padding: 5px 13px;
  background-color: var(--danger);
}

.task_list .col-3 {
  flex: 0 1 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.tasks-counter {
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 30px;
  padding: 0 15px;
  z-index: 1;
}

.tasks-counter::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.tasks-counter .icon {
  margin-left: 8px;
}

.task_list li.status_danger .tasks-counter .icon,
.task_list li.status_warning .tasks-counter .icon,
.task_list li.status_success .tasks-counter .icon {
  fill: var(--text-contrast);
}

.main_task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.task_list li.status_danger .main_task .icon,
.task_list li.status_warning .main_task .icon,
.task_list li.status_success .main_task .icon {
  fill: var(--text-contrast);
}

.add_task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  z-index: 2;
}

.task_list li.status_danger .add_task,
.task_list li.status_warning .add_task,
.task_list li.status_success .add_task {
  border-color: var(--text-contrast);
}

.add_task .icon {
  width: 16px;
  height: 16px;
}

.task_list li.status_danger .add_task .icon,
.task_list li.status_warning .add_task .icon,
.task_list li.status_success .add_task .icon {
  fill: var(--text-contrast);
}

/*MAIN PAGE*/